.App {
  text-align: center;
  width:100%
}

.dvdlist {
  
  border:1px solid black;
  border-radius: 5px;
  margin:5px;
  margin-left:30px;
  margin-right:30px;
  background-color: #fafafa
}

.dvdlist p {
  padding:0px;
  margin:3px
}

p {
  margin: 3px;
}

.detail {
  position: absolute;
  width:80%;
  margin:0 10%;
  border:1px solid black;
  border-radius: 5px;
  padding:10px;
  top:20px;
  background-color:lightgrey;
}

.detailReadNames {
  width: 30%;
  display:inline-block;
 
  text-align: right;
}

.detailReadRatings {
  width: 70%;
 display: inline-block;
  text-align: left;
}